/* Container que junta a barra lateral e o conteúdo */
.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Barra Lateral Esquerda Cinza */
.sidebar {
  width: 200px;
  background-color: #1050beaa; /* Cinza claro do protótipo */
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  border-right: 1px solid #ebe0e0;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-logo {
  max-width: 110px;
  height: auto;
}

/* Itens de Menu da Esquerda */
.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 5px;
  color: #e6f0ed; /* Cor verde/azulada dos links */
}

.menu-item.active {
  color: #e9f0ee;
}

/* Conteúdo Principal Direito */
.main-content {
  flex: 1;
  background-image: url('/ford-ranger.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Filtro Verde Transparente por cima da foto (idêntico ao protótipo) */
.green-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 243, 241, 0.7); /* Verde água com 70% de transparência */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caixa central de texto com borda fina escura */
.info-card {
  border: 1px solid #101111;
  padding: 40px;
  width: 80%;
  max-width: 450px;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.system-title {
  font-size: 14px;
  color: #0d72ad; /* Azul brilhante do título "Sistema de Gestão de Frota" */
  margin: 0 0 25px 0;
}

.welcome-text {
  font-size: 22px;
  color: #0d72ad; /* Azul brilhante do texto "Seja bem vindo(a)!" */
  margin: 0;
  font-weight: normal;
}
